<% provide(:title, 'Team') %>
<h1>Team <span class="model_name">"<%= @team.name %>"</span></h1>
<p>
  <strong>Description:</strong>
  <%= @team.description %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @team.enabled %>
</p>


<div class="btn-group" role="group" aria-label="...">
  <%= link_to edit_team_path(@team) , class: "btn btn-primary", role: "button"  do %>
      <span class="glyphicon glyphicon-pencil"></span> Edit this Team
  <% end %>
  <%= link_to teams_path,  class: "btn btn-success", role: "button" do %>
      <span class="glyphicon glyphicon-th-list"></span> Back to the List
  <% end %>
</div>