<div class="row task_bar vertical-align" id="task_item_id_<%= task.id%>">
  <div class="col-xs-11 col-sm-6">
    <div class="row">
      <span class=" task_bar_title"><%= task.name%></span> <span class=" task_bar_description"><%= task.description%></span>
    </div>
    <div class="row task_bar_team">
      @Team "<%= task.team.name %>"
    </div>
  </div>
  <div class="col-xs-1 col-sm-1">

  </div>
 <div class="col-xs-12 col-sm-5">
   <table width="100%">
     <tbody>
     <tr>
       <td width="1em"><%= link_to step_task_path(task.id, -5), remote: true, title: 'Decrease achievement'  do %>
         <span class="glyphicon glyphicon-chevron-left"></span>
         <% end %></td>
       <td><div class="progress">
         <div class="progress-bar progress-bar<%= task.color %> progress-bar-striped" role="progressbar" aria-valuenow="<%= task.achieved%>" aria-valuemin="0" aria-valuemax="100" style="min-width: 4em; width: <%= task.achieved%>%;">
           <%= task.achieved%>%
         </div>
       </div></td>
       <td width="1em"> <%= link_to step_task_path(task.id, 5), remote: true, title: 'Increase achievement' do %>
         <span class="glyphicon glyphicon-chevron-right"></span>
         <% end %></td>
     </tr>
     </tbody>
   </table>



  </div>
</div>