<% provide(:title, 'Profile') %>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail slideRight">
      <h1><%= @profile['name'] %></h1>
      <%= image_tag @profile['image']%>
      <div class="caption">
        <% if @profile['class'] == "mutant" %>
            <div class="container">
                <div class="btn-group" role="group" aria-label="...">
                  <%= link_to edit_mutant_path(@mutant) , class: "btn btn-primary", role: "button"  do %>
                      <span class="glyphicon glyphicon-pencil"></span> Edit this Mutant
                  <% end %>
                  <%= link_to mutants_path ,  class: "btn btn-success", role: "button" do %>
                      <span class="glyphicon glyphicon-th-list"></span> Back to Mutants
                  <% end %>
                </div>
            </div>
        <% elsif @profile['class'] == "team"%>
            <div class="container">
              <div class="btn-group" role="group" aria-label="...">
                <%= link_to edit_team_path(@team) , class: "btn btn-primary", role: "button"  do %>
                    <span class="glyphicon glyphicon-pencil"></span> Edit this Team
                <% end %>
                <%= link_to teams_path ,  class: "btn btn-success", role: "button" do %>
                    <span class="glyphicon glyphicon-th-list"></span> Back to Teams
                <% end %>
              </div>
            </div>
        <% end %>
        <h3 class="model_name"><%= @profile['real_name'] %></h3>
        <h4>Aliases</h4>
        <ul class="list-group">
          <li class="list-group-item">
            <%= @profile['aliases'] %>
          </li>
        </ul>
        <% if @profile['class'] == "mutant" %>
        <h4>Info</h4>
        <ul class="list-group">
          <li class="list-group-item">
            <span class="badge"><%= @profile['place_of_birth'] %></span>
            Place of Birth
          </li>
          <li class="list-group-item">
            <span class="badge"><%= @profile['identity'] %></span>
            Identity
          </li>
        </ul>
        <% end %>
        <h4>Contact</h4>
        <ul class="list-group">
          <li class="list-group-item">
            Email <span class="badge"><%= @profile['email'] %></span>
          </li>
          <li class="list-group-item">
            <span class="badge"><%= @profile['mobile'] %></span>
            Mobile
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-8">
    <div class="row jumbotron slideLeft">
      <% if @profile['class'] == "mutant" %>
      <h3>Physical attributes</h3>
      <div class="row">
        <div class="col-sm-8 col-md-6">
          <ul class="list-group">
        <li class="list-group-item">
          <span class="badge"><%= @profile['height'] %> cm.</span>
          Height
        </li>
        <li class="list-group-item">
          <span class="badge"><%= @profile['weight'] %> kg.</span>
          Weight
        </li>

        <li class="list-group-item">
          <span class="badge"><%= @profile['skintone'] %></span>
          Skintone
        </li>
      </ul>
        </div>
        <div class="col-sm-8 col-md-6">
          <li class="list-group-item">
            <span class="badge"><%= @profile['eyes'] %></span>
            Eyes
          </li>
          <li class="list-group-item">
            <span class="badge"><%= @profile['hair'] %></span>
            Hair
          </li>
        </div>
      </div
      <% end %>
      <h3>Powers <span class="badge"><%= @profile['powers'].length %></span></h3>
      <% @profile['powers'].each_with_index do |power, i| %>
          <%= raw show_tag(power, i)%>
      <% end %>
      <h3>Biography</h3>
      <%= raw @profile['biography'] %>
      <% unless @profile['more_info_link'].nil? %>
      <br/><br/>More at <%= link_to @profile['more_info_link'], @profile['more_info_link'], :target => '_blank' %>
      <% end %>
    </div>

  </div>
</div>
