<%= form_for(@mutant) do |f| %>
  <% if @mutant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mutant.errors.count, "error") %> prohibited this mutant from being saved:</h2>

      <ul>
      <% @mutant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="actions btn-group" role="group" aria-label="...">
      <%= f.submit class: "btn btn-primary" %>
          <%= link_to mutants_path,  class: "btn btn-success", role: "button" do %>
              <span class="glyphicon glyphicon-th-list"></span> Back to the List
          <% end %>
    </div>
<% end %>
