<h1>Listing Mutants</h1>

<table class="table">
  <thead>
    <tr>
      <th>Mutant Name</th>
      <th>Alias</th>
      <th>Real Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @mutants.each do |mutant| %>
      <tr>
        <td class="col-md-4"><%= mutant.mutant_name %></td>
        <td class="col-md-3"><%= mutant.alias %></td>
        <td class="col-md-3"><%= mutant.real_name %></td>
        <td class="col-md-2">
          <div class="btn-group" role="group" aria-label="...">
            <%= link_to mutant , class: "btn btn-success", role: "button"  do %>
                <span class="glyphicon glyphicon-eye-open"></span>
            <% end %>
            <%= link_to edit_mutant_path(mutant) , class: "btn btn-primary", role: "button"  do %>
                <span class="glyphicon glyphicon-pencil"></span>
            <% end %>
            <%= link_to mutant , method: :delete, data: { confirm: 'Are you sure?' },  class: "btn btn-danger", role: "button" do %>
                <span class="glyphicon glyphicon-remove"></span>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>